@media (max-width:450px){
    .alert-outer{
        width: 100% !important;
        position: relative;
        left: 0;
        margin-top: calc(50vh - 300px);
        margin: 0 auto;
        display: block;
    }
}