/*Font::Helvetica*/

@font-face {
    font-family: HelveticaL;
    src: url(https://harry260.github.io/har.to/Projects/Computer/Assignment1/fonts/helvetica/Light.ttf);
}

@font-face {
    font-family: HelveticaM;
    src: url(https://harry260.github.io/har.to/Projects/Computer/Assignment1/fonts/helvetica/Medium.ttf);
}

@font-face {
    font-family: HelveticaR;
    src: url(https://harry260.github.io/har.to/Projects/Computer/Assignment1/fonts/helvetica/Regular.ttf);
}
@font-face {
    font-family: HelveticaB;
    src: url(https://harry260.github.io/har.to/Projects/Computer/Assignment1/fonts/helvetica/Bold.ttf);
}
